[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
furl="*"
requests = "*"
urllib3 = "*"
chardet = "*"
aiohttp = "==3.8.1"
#asyncio = "==3.4.3"
"helix.fhir.client.sdk" = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.7"
